{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}
<section style="padding: 2rem; display: grid; place-items: center;">
    <form action="addbook/" method="post">
        {% csrf_token %}
            Title:<br>
            <input name="title"><br>
            <br>
        
            Genre:<br>
            <select name="genre">
                {% for x in choices %}
                <option value={{ x.0 }}>{{ x.0 }}</option>
                {% endfor %}
            </select>
            <br>

            Quantity:<br>
            <input name="quantity" type="number"><br>
            <br>
            
            Description:<br>
            <input name="description"><br>
            <br>

            Thumbnail:<br>
            <input name="thumbnail" type="file" accept="image/*"><br>
            <br>

            PDF:<br>
            <input name="pdf" type="file"><br>
            <br>

            Price:<br>
            <input name="price" type="number"><br>
            <br>
            
            <input type="submit" value="Submit">
        </form>
</section>

{% endblock %}
