{% extends 'main.html' %}

{% load static %}

{% block content %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/add.css' %}">
<title>Books</title>
{% endblock %}

<section style="padding: 2rem; display: grid; place-items: center;">
    <form action="addbook/" method="post" class="grid-container">
        {% csrf_token %}

        <div class="left">
            Title:<br>
            <input name="title">
            <br><br>
        
            Genre:<br>
            <select name="genre">
                {% for x in choices %}
                <option value={{ x.0 }}>{{ x.0 }}</option>
                {% endfor %}
            </select>
            <br><br>
            

            Quantity:<br>
            <input name="quantity" type="number">
            <br><br>
            
            Description:<br>
            <input name="description">
            <br><br>
        </div>
        
        <div class="right">
            Thumbnail:<br>
            <input name="thumbnail" type="file" accept="image/*">
            <br><br>

            PDF:<br>
            <input name="pdf" type="file">
            <br><br>

            Price:<br>
            <input name="price" type="number">
            <br><br>
            <br>
            
            <input type="submit" value="Submit" class="table-button">
        </div>
        </form>
</section>

{% endblock %}
