{% extends 'main.html' %}

{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/customers.css' %}">
<link rel="stylesheet" href="{% static '/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static '/css/responsive.css' %}">
<link rel="stylesheet" href="{% static '/css/ui.css' %}">

<link rel="stylesheet" href="{% static '/css/genreclickcounter.css' %}">
<title>Books</title>
{% endblock %}

{% block content %}


    <!-- ========================= SECTION MAIN ========================= -->
    <section class="section-intro padding-y-sm">
        <div class="container">
          <div class="intro-banner-wrap">
            <img src="{% static 'images/banners/1.png' %}" class="img-fluid rounded" />
          </div>
        </div>
        <!-- container //  -->
      </section>
      <!-- ========================= SECTION MAIN END// ========================= -->
  
      <!-- ========================= SECTION  ========================= -->
      <section class="section-name padding-y-sm">
        <div class="container">
          <header class="section-heading">
            <a href="./store.html" class="btn btn-outline-primary float-right">See all</a>
            <h3 class="section-title">Popular products</h3>
          </header>
          <!-- sect-heading -->
  
          <div class="row">

            {% for book in books_reccomended %}
            <div class="col-md-3">
              <div class="card card-product-grid">
                <a href="./{{ book.id }}" class="img-wrap"> <img src="{% static 'images/' %}{{ book.thumbnail }}" /> </a>
                <figcaption class="info-wrap">
                  <a href="./{{ book.id }}" class="title">{{ book.title }}</a>
                  <div class="price mt-1">{{ book.genre }}</div>
                  <div class="price mt-1">Rp{{ book.price }}</div>
                  <!-- price-wrap.// -->
                </figcaption>
              </div>
            </div>
            <!-- col.// -->
            {% endfor %}

          </div>
          <!-- row.// -->
        </div>
        <!-- container // -->
      </section>
      <!-- ========================= SECTION  END// ========================= -->
  
      <div class="navbar-genre">
        <div class="title">Genre Click Counter</div>
        {% for genre in GENRE_CLICK_COUNT %} 
        <div class="genre">
          {{ genre.0 }}: {{ genre.1 }}
        </div>
        {% endfor %}
      </div>

      <div class="navbar-genre-debug">
        <div class="title">Genres in Database</div>
        {% for key, value in books_genres_debug.items %} 
        <div class="genre">
          {{key}}: {{value}}
        </div>
        {% endfor %}
      </div>


{% endblock %}