{% extends 'main.html' %}

{% load static %}

{% block content %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
<link rel="stylesheet" href="{% static '/css/add.css' %}">
<title>Books</title>
{% endblock %}

<section style="padding: 2rem; display: grid; place-items: center;">
    <form action="editbook/{{ book.id }}" method="post" class="grid-container">
        {% csrf_token %}

        <div>

            Title:<br>
            <input name="title" value="{{ book.title }}">
            <br><br>
        
            Genre:<br>
            <select name="genre" value="{{ book.genre }}">
                {% for x in choices %}

                {% if book.genre == x.0 %}
                <option selected="selected" value={{ x.0 }}>{{ x.0 }}</option>
                {% else %}
                <option value={{ x.0 }}>{{ x.0 }}</option>
                {% endif %}
                
                {% endfor %}
            </select>
            <br><br>

            Quantity:<br>
            <input name="quantity" type="number" value="{{ book.quantity }}">
            <br><br>
            
            Description:<br>
            <input name="description" value="{{ book.description }}">
            <br><br>
        </div>
        
        <div>

            Thumbnail:<br>
            <input name="thumbnail" type="file" accept="image/*" value="{{ book.thumbnail }}">
            <br><br>

            PDF:<br>
            <input name="pdf" type="file" value="{{ book.pdf }}">
            <br><br>

            Price:<br>
            <input name="price" type="number" value="{{ book.price }}">
            <br><br>
            <br>
            
            <input type="submit" value="Submit" class="table-button">
        </div>
        
        </form>
</section>

{% endblock %}
