{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static '/css/navbar.css' %}">
{% endblock %}

<div class="navbar1">
    <img class="logo" src="{% static 'images/mountainchicken.jpg' %}" alt="Logo" srcset="">
    <a href="/" class="navbar-button1">Books</a>
    <a href="" class="navbar-button1">Suppliers</a>
    <a href="/customers" class="navbar-button1">Customers</a>
    
    <a href="{% url 'logout' %}" class="navbar-button1 navbar-button-end">Logout</a>
    <span class="hello">Hello, {{ request.user }}</span>
</div>

